.mtp__form {
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.mtp__form h3 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.mtp__form input[type="text"] {
  width: 100%;
}
.mtp__form textarea {
  width: 100%;
  resize: none;
}
.mtp__form input[type="submit"] {
  margin: 20px 0 0 auto;
}
.mtp__form .mtp__msg {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  display: inline-block;
}
.mtp__form--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mtp__form--wrapper > div {
  width: 100%;
}
@media (min-width: 767px) {
  .mtp__form--wrapper {
    flex-wrap: nowrap;
  }
  .mtp__form--wrapper > div {
    width: 49%;
  }
}
